.App {
  width: 100vw;
  height: 100vh;
  background-color: var(--black);
  display: flex;
  justify-content: center;
  align-items: center;
}

.box {
  width: 150px;
  height: 150px;
  background-color: var(--orange);
  display: flex;
  justify-content: center;
  align-items: center;
  border: 0;
  cursor: pointer;
  font-size: 5rem;
  color: var(--x);
}

.name {
  text-align: center;
  font-size: 3rem;
  color: var(--blue);
}

.nextPlayer {
  color: var(--blue);
  font-size: 1.5rem;
}

.reset {
  border-radius: 5px;
  width: 60px;
  height: 30px;
  background-color: var(--yellow);
  border: 1px solid var(--egg);
  color: rgb(230, 229, 229);
  cursor: pointer;
}

.reset:hover {
  background-color: var(--egg);
  transition: 0.2s all ease-in;
}
.reset:not(hover) {
  transition: 0.2s all ease-in;
}

.name span {
  color: var(--egg);
}

.status {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 50px;
}

.containner {
  background-color: var(--orange);
  border-radius: 3%;
  margin: 30px;
  padding: 30px;
}

.boardGame {
  display: grid;
  grid-gap: 15px;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 1fr);

  background-color: var(--egg);
}


.x{
color: var(--x);
}

.o{
  color: var(--o);
}