*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Itim', cursive;
}
:root{
  --blue:#254252;
  --black:#171c2d;
  --orange:#e37239;
  --yellow:#F9982F;
  --egg:#EAB56F;
  --x:#FFFDA2;
  --o:#FFBED8;
}